##########
# System #
##########

# macOS
*.DS_Store


#############
# Resources #
#############

**/resources/
!**/latex/resources/


#####################
# Matlab & Simulink #
#####################

**/slprj/
*.slxc
