##########
# System #
##########

# macOS
*.DS_Store


###########
# Project #
###########

# Feedback
/feedbacks/

# Resources
/resources/


#####################
# Matlab & Simulink #
#####################

matlab/**/slprj/
matlab/*.slxc


##############
# Exceptions #
##############

# LaTeX resources
!/latex/**/resources/
